/*  GRID mit 4 */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.25%; 
}

.span_2_of_4 {
	width: 48.5%; 
}

.span_1_of_4 {
	width: 22.75%; 
}


/*  Volle WIDTH bei weniger als 800 px */

@media only screen and (max-width: 800px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}